.container {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .post__image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin-top:6px;
  }

  .feed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    justify-content: flex-start;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-bottom: 6px;
  }
  
  .post__header {
    display: flex;
    align-items: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .post__profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .post__info {
    flex: 1;
    text-align: left;
  }
  
  .post__username_header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-family: "SFNS", sans-serif;
    color: #66fcf1;
  }
  
  .post__timestamp_header {
    font-size: 12px;
    font-family: "SFNS", sans-serif;
    color: #ffffff7b;
    margin-left:0px;
    margin-top:0px;
  }
  
  .post__text {
    font-size: 18px;
    font-family: "SFNS", sans-serif;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom:0px;
    text-align: left;
  }

  .load-more {
    margin: 20px auto;
    text-align: center;
  }
  
  .load-more button:hover {
    background-color: #fff;
    color: #000;
  }

  .buttonLoadMore{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #66fcf1;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-bottom: 60px;
  }

  .submit-comment{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #66fcf1;
    font-size: 14px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-bottom: 0px;
  }

  .user_2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    height: 40px;
    margin-top: 0px;
    margin-bottom: -20px;
    margin-left: 0px;

    border-radius: 40px;
    border: 1px solid #fff;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .commentContainer_2 {
    display: flex;
    flex-direction: column;
    height: flex;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .comment-icon {
    color: #66fcf1;
    margin-bottom: 6px;
  }

  .input-comment {
    margin-left: 5px;
    width:282px;
    margin-bottom: 0px;
  }

  .post__username{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    border: none;
    color: #66fcf1;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-bottom: 60px;
  }

  .user__profile-img_2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 8px;
  }

  .user__commentname{
    font-family: "SFNS", sans-serif;  
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffff00;
  }

  .comment__text {
    font-family: "SFNS", sans-serif;  
    font-size: 14px;
    margin-top: px;
    margin-bottom: 0px;
    color: #fff;
  }

  .show__comments{
    font-family: "SFNS", sans-serif;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 6px 6px;
    background-color: transparent;
    border: none;
    color: #66fcf2;
    font-size: 14px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    align-self: center;
  }

  .buttonLoadMore{
    font-family: "SFNS", sans-serif;
    margin: 18px auto 10px;
    padding: 6px;
    background-color: #66fcf1;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 46px;
  }

  .buttonLoadMoreD{
    font-family: "SFNS", sans-serif;
    margin: 18px auto 10px;
    padding: 6px;
    background-color: #66fcf27e;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 46px;
    cursor: not-allowed;
  }

  .show_more_comments {
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    border: none;
    border-radius: 20px;
    color: #66fcf1;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    margin-top: -4px;
    margin-bottom: 10px;
    background-color: #000000;
  }

  .show_more_comments:disabled {
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    border: none;
    border-radius: 20px;
    color: #66fcf283;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 6px;
    background-color: #00000078;
    cursor: not-allowed;
  }

  .likes-info {
    display: flex;
    align-items: center;
    color: #66fcf1;
    margin-top: 8px;
  }
  
  .likes-info span {
    margin-right: 5px;
    color: #66fcf1;
    font-family: "SFNS", sans-serif;
    font-size: 16px;
  }
  
  .likes-info .liked {
    color: red;
  }
  
  
