.fc-toolbar .fc-prev-button, 
.fc-toolbar .fc-next-button {
  display: none;
}

.fc-timegrid-slot.fc-timegrid-slot-label {
  color: white;
  font-family: "SFNS", sans-serif;
  font-size: 12px;
}

.calendar-container {
  color: white;
  font-family: "SFNS_Light", sans-serif;
  font-size: 12px;
}

.calendar-container .fc-header-toolbar {
  color: #66fcf1;
  font-family: "SFNS_Light", sans-serif;
  font-size: 10px;
}

.calendar-container .rbc-allday-row {
  display: none;
}

.calendar-container .fc-today-button {
  display: none;
}