.swal2-icon {
    font-size: 0.6em;
  }
  
  .swal-icon-color {
    color: #000 !important; 
  }
  
  .swal-title-font {
    font-family: "SFNS", sans-serif; 
    color: #000;
    font-size: 24px;
  }
  
  .swal-popup-width {
    width: 400px !important;
  }