/* Estilos para el mapa */
.map-page-container {
    position: relative;
  }
  
  /* Estilos para el campo de búsqueda y el botón */
  .search-container {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 20px;
  }
  
  .search-container input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
  }
  
  .search-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10%;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la lista desplegable de opciones de búsqueda */
  .search-results {
    position: absolute;
    z-index: 1000;
    width: 50%;
    left: 41%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
  }
  
  .search-results li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilos para el mapa */
  .leaflet-container {
    height: 800px;
    width: 100%;
  }
  
  /* Estilos para los marcadores */
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .leaflet-tooltip {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .leaflet-popup-content {
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .leaflet-popup-tip-container {
    display: none;
  }
  
  /* Estilos para el footer */
  .footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #007bff;
  }
  