@font-face { font-family: "SFNS"; src: url("../../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf"); }
@font-face { font-family: "Raffaella"; src: url("../../assets/fonts/Rafaella.ttf"); }
@font-face { font-family: "Stussy"; src: url("../../assets/fonts/StussyScript-Regular.ttf"); }
@font-face { font-family: "Belgan"; src: url("../../assets/fonts/Belgant\ Aesthetic.otf"); }
@font-face { font-family: "Bookman"; src: url("../../assets/fonts/BookmanJFPro-Italic.ttf"); }
@font-face { font-family: "Handodle"; src: url("../../assets/fonts/Handodle.ttf"); }
@font-face { font-family: "Late"; src: url("../../assets/fonts/LateNights.ttf"); }

.containerSection {
    color: white;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  /* USERNAME + ANIMATION */

  .profile-user-name {
    color: white;
    font-family: "SFNS", sans-serif;
    font-size: 28px;
    margin-bottom: 12px;
    animation: flip 3s infinite;
  }

  @keyframes flip {
    0% {
      transform: perspective(400px) rotateX(0deg);
    }
    100% {
      transform: perspective(400px) rotateX(360deg);
    }
  }
  
  .btn_profile {
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #66fcf1;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
  }
  
  .btn_profile:hover {
    background-color: #66fcf1;
    color: #000;
  }

  /* SEGUIDORES Y SEGUIDOS */

  .profile-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-stats p {
    font-family: "SFNS", sans-serif;
    color: #fff;
    margin: 6px 0;
  }
  
  .profile-stats span {
    font-weight: bold;
  }
  
  .profile-stats::before,
  .profile-stats::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #fff;
    margin: 10px 0;
  }
  
  .profile-stats::before {
    margin-top: 2px;
  }
  
  .profile-stats::after {
    margin-bottom: 0px;
  }

  /* DATOS USUARIO */

  .profile-bio {
    margin-top: 0px;
  }
  
  .profileTitle {
    font-family: "SFNS_Light", sans-serif;
    color: #66fcf1;
    font-size: 12px;
    margin-bottom: -16px;
  }
  
  .profile-real-name {
    font-weight: bold;
    color: #fff;
  }
  
  .profile-bio p {
    font-family: "SFNS", sans-serif;
    color: #fff;
    margin-bottom: 12px;
  }