@font-face { font-family: "SFNS"; src: url("../../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf"); }
@font-face { font-family: "Raffaella"; src: url("../../assets/fonts/Rafaella.ttf"); }
@font-face { font-family: "Stussy"; src: url("../../assets/fonts/StussyScript-Regular.ttf"); }
@font-face { font-family: "Belgan"; src: url("../../assets/fonts/Belgant\ Aesthetic.otf"); }
@font-face { font-family: "Bookman"; src: url("../../assets/fonts/BookmanJFPro-Italic.ttf"); }
@font-face { font-family: "Handodle"; src: url("../../assets/fonts/Handodle.ttf"); }
@font-face { font-family: "Late"; src: url("../../assets/fonts/LateNights.ttf"); }

