@font-face { font-family: "SFNS"; src: url("../../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf"); }
@font-face { font-family: "Raffaella"; src: url("../../assets/fonts/Rafaella.ttf"); }
@font-face { font-family: "Stussy"; src: url("../../assets/fonts/StussyScript-Regular.ttf"); }
@font-face { font-family: "Belgan"; src: url("../../assets/fonts/Belgant\ Aesthetic.otf"); }
@font-face { font-family: "Bookman"; src: url("../../assets/fonts/BookmanJFPro-Italic.ttf"); }
@font-face { font-family: "Handodle"; src: url("../../assets/fonts/Handodle.ttf"); }
@font-face { font-family: "Late"; src: url("../../assets/fonts/LateNights.ttf"); }

input {
    font-family: "SFNS", sans-serif;
    font-size: 14px;
    display: block;
    width: 300px;
    margin-bottom: 1rem;
    padding: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    background-color: #66fcf1;
    color: #000;
  }
  
  label {
    font-size: 14px;
    font-family: "SFNS", sans-serif;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
    
  input:focus {
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
    
  .error {
    color: #eeff00;
    font-family: "SFNS", sans-serif;
    font-size: 12px;
  }