@font-face { font-family: "SFNS"; src: url("../../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf"); }
@font-face { font-family: "Raffaella"; src: url("../../assets/fonts/Rafaella.ttf"); }
@font-face { font-family: "Stussy"; src: url("../../assets/fonts/StussyScript-Regular.ttf"); }
@font-face { font-family: "Belgan"; src: url("../../assets/fonts/Belgant\ Aesthetic.otf"); }
@font-face { font-family: "Bookman"; src: url("../../assets/fonts/BookmanJFPro-Italic.ttf"); }
@font-face { font-family: "Handodle"; src: url("../../assets/fonts/Handodle.ttf"); }
@font-face { font-family: "Late"; src: url("../../assets/fonts/LateNights.ttf"); }

.containerSection {
    background-color: #000;
    color: #000;
    text-align: center;
    padding: 20px;
  }
  
  .titleSection {
    font-family: "Raffaella", sans-serif;
    color: #66fcf1;
    font-size: 34px;
  }

  body {
    background-color: #000;
    color: #fff; /* cambiar el color del texto a blanco */
  }

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .user__profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    }
    
    .user__profile-img--default {
    background-color: #ccc;
    }
    
    .user__info {
    flex: 1;
    text-align: left;
    color: #fff; 
    }
    
    .user__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
    }
    
    .user__username {
    font-size: 14px;
    color: #ccc;
    }
    
    ul {
    list-style: none;
    padding: 0;
    }
    
    input[type="text"] {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
    text-align: center;
    color: #000;
    }
    
    p {
    font-size: 16px;
    }