.create-activity-link {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
  }

.contentContainer {
  margin-top: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.titleContainer_Calendar{
  margin-bottom: 0px;
  margin-top: 42px;
}


button {
  padding: 6px;
  background-color: #66fcf1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  width: 160px;
  font-family: "SFNS", sans-serif;
  color: black;
}

button.active {
  background-color: black;
  color: #66fcf1;
}

.nextPlanButton{
  font-family: "SFNS", sans-serif;
  margin-top: 6px;
  padding: 6px 6px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: yellow;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}

.new{
  margin-top: 6px;
  margin-bottom: 1.5px;
  color: yellow;
}

.buttonsCalendar {
  display: flex;
  justify-content: center;
}

.userCalendarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 60px;
  border-radius: 40px;
  display: flex;
}

.user_profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0px;
}

.user_calendar{
  display: flex;
  align-items: center;
  border: none;
  height: 50px;
  margin-top: -20px;
  margin-bottom: 0px;
}

.calendar{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
}


.userLink {
  display: flex;
  align-items: center;
}

.user__ns {
  font-family: "SFNS", sans-serif;
  color: white;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.user__un {
  font-family: "SFNS", sans-serif;
  color: #66fcf1;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}



  