.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .sidebar {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: transparent;
  }
  
  .sidebar h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .chat {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .chat h3 {
    margin-bottom: 10px;
  }
  
  .chat ul {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .chat ul li {
    margin-bottom: 5px;
  }
  
  .input-group input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .input-group button {
    padding: 5px 10px;
  }

  .text_msg_1 {
    flex: 2;
    font-size: 14px;
    color: white !important;
    font-family: "SFNS", sans-serif;
    margin-top:0px;
    margin-left:8px;
    margin-bottom:0px;
  }

  .text_msg_5 {
    flex: 2;
    font-size: 16px;
    color: #66fcf1 !important;
    font-family: "SFNS_Light", sans-serif;
    margin-top:0px;
    margin-left:8px;
    margin-bottom:0px;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .text_msg_4 {
    flex: 2;
    font-size: 18px;
    color: white !important;
    font-family: "SFNS", sans-serif;
    margin-top: -26px !important;
    margin-left:8px;
    margin-bottom:0px;
  }

  .text_msg_6 {
    flex: 2;
    font-size: 18px;
    color: white !important;
    font-family: "SFNS", sans-serif;
    margin-top: 32px !important;
    margin-left:8px;
    margin-bottom:-54px !important;
  }

  .text_msg_7 {
    flex: 2;
    font-size: 14px;
    color: white !important;
    font-family: "SFNS", sans-serif;
    margin-top: 6px !important;
    margin-left:0px;
    margin-bottom:0px !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .containerMessages{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .text_msg_2 {
    flex: 2;
    font-size: 18px;
    color: yellow !important;
    font-family: "SFNS", sans-serif;
    margin-top:0px;
    margin-left:8px;
    margin-bottom: 0px;
  }

  .text-msg-connected {
    flex: 2;
    font-size: 20px;
    color: green !important;
    font-family: "SFNS", sans-serif;
    margin-top:-10px;
    margin-left:8px;
    margin-bottom:34px;
  }

  .text-msg-disconnected {
    flex: 2;
    font-size: 20px;
    color: red !important;
    font-family: "SFNS", sans-serif;
    margin-top:-10px;
    margin-left:8px;
    margin-bottom: 34px;
  }

  .buttonConnect{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: green;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-bottom: 60px;
    margin-right: 3px;
  }

  .buttonDisonnect{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-bottom: 60px;
    margin-left: 4px;
  }

  .buttonsChat{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: #66fcf1;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 14px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 4px;
  }

  .buttonsChat2{
    font-family: "SFNS", sans-serif;
    margin: 6px;
    padding: 6px 6px;
    background-color: #66fcf1;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 14px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 58px;
    margin-left: 4px;
  }