@font-face { font-family: "SFNS"; src: url("../../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf"); }
@font-face { font-family: "Raffaella"; src: url("../../assets/fonts/Rafaella.ttf"); }
@font-face { font-family: "Stussy"; src: url("../../assets/fonts/StussyScript-Regular.ttf"); }
@font-face { font-family: "Belgan"; src: url("../../assets/fonts/Belgant\ Aesthetic.otf"); }
@font-face { font-family: "Bookman"; src: url("../../assets/fonts/BookmanJFPro-Italic.ttf"); }
@font-face { font-family: "Handodle"; src: url("../../assets/fonts/Handodle.ttf"); }
@font-face { font-family: "Late"; src: url("../../assets/fonts/LateNights.ttf"); }

.containerSection {
  background-color: #00000000;
  color: #000000;
  text-align: center;
  padding: 20px;
}

.titleSection {
  font-family: "Raffaella", sans-serif;
  color: #fff;
  font-size: 34px;
  z-index: 1;
  background-color: transparent; /* Establece el fondo del título como transparente */
}



body {
  background-image: url('../../assets/images/background_2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.register-container {
  background-color: transparent; /* Cambia el fondo negro a transparente */
  color: #000000;
  text-align: center;
  padding: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  align-self: center;
}

.loginRegisterButton {
  font-family: "SFNS", sans-serif;
  margin: 6px;
  padding: 6px 6px;
  background-color: #000000;
  border: none;
  border-radius: 20px;
  color: #66fcf1;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.loginRegisterButton:hover {
  background-color: #66fcf1;
  color: #000000;
}

.swal2-icon {
  font-size: 0.6em;
}

.swal-icon-color {
  color: #000 !important; 
}

.swal-title-font {
  font-family: "SFNS", sans-serif; 
  color: #000;
  font-size: 24px;
}

.swal-popup-width {
  width: 400px !important;
}

.error {
  color: #eeff00;
  font-family: "SFNS", sans-serif;
  font-size: 12px;
}

/*
.buttonBack {
  font-family: "SFNS", sans-serif;
  margin: 4px;
  padding: 6px 6px;
  background-color: #000000;
  border: none;
  border-radius: 20px;
  color: #66fcf1;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.buttonBack:hover {
  background-color: #66fcf1;
  color: #000;
}

.emailEntry,
.passwordEntry {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

input[type="email"],
input[type="password"] {
  padding: 4px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "SFNS", sans-serif;
  color: #000;
  background-color: #66fcf1;
  width: 300px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}
*/